* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: darkblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 100vh;
}

h1 {
    color: white;
    filter: drop-shadow(5px 4px 4px black);
}

ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

ul li {
    list-style: none;
    display: flex;
    gap: 20px;
}

img {
    filter: drop-shadow(4px 4px 4px black);
}