* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: darkblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 100vh;

}

h1 {
    color: white;
    filter: drop-shadow(4px 4px 2px black);

}

iframe {
    filter: drop-shadow(7px 7px 5px black);

}

img {
    filter: drop-shadow(4px 4px 2px black);
}

ul {
    margin: auto;
}

p {
    color: white;
    filter: drop-shadow(4px 4px 2px black);


}

a {
    text-decoration: none;
}